@font-face {
  font-family: Figtree;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/figtree/Figtree-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Figtree;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/figtree/Figtree-Italic.woff2") format("woff2");
}

@font-face {
  font-family: Figtree;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/figtree/Figtree-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: Figtree;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/figtree/Figtree-SemiBoldItalic.woff2") format("woff2");
}
