@import "tailwindcss";
@import "./figtree.css";
@import "./bebas-neue.css";

body {
  font-family: "Figtree", sans-serif;
  background-color: var(--color-mist-950);
  color: var(--color-mist-50);
}

.debug {
  border: 2px solid red;
}
